* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.card {
  height: 110vh;
  background: linear-gradient(90deg, rgba(240,247,243,1) 0%, rgba(180,47,47,1) 0%, rgba(105,26,103,1) 100%);
}

.header {
  height: 10vh;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: 1rem;
  margin: 2rem;
  color: aliceblue;
  border-bottom: 0.5px solid #fff; 
  cursor: pointer;
}

.header p {
  background-color: aliceblue;
  border: none;
  border-radius: 5px; 
  padding: 10px;
}


.balances {
  display: flex;
  justify-content: space-around;
}

.account-balances, .reserve-balances {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border: none;
  height: 30vh;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 16px 3px rgb(184, 179, 179) inset; 
}

.warning {
  border: none;  
  border-radius: 5px; 
  background-color: rgb(233, 233, 88);
  width: 50%; 
  margin: 0 auto;
  /* margin-top: 5rem; */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  background-color: aliceblue;
  height: 85%;
  margin: 1rem;
  margin-top: 0.2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mint div input {
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: rgb(185, 183, 180);
}

.mint div p {
  margin-bottom: 1.5rem;
}

.goerli {
  border: none;
  width: 500px; 
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(233, 233, 88);
}
