* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}


.card {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card h1 {
  font-size: 2rem;
  margin: 2rem;
}

.read-the-docs {
  color: #888;
}

.balances {
  display: flex;
  justify-content: space-around;
}

.account-balances, .reserve-balances {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.warning {
  border: none;  
  border-radius: 5px; 
  background-color: rgb(233, 233, 88);
  width: 50%; 
  margin: 0 auto;
  margin-top: 5rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
